* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

}
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    line-height: 24px;
    color: #5e0b96;
}


.container {
    width: 1165px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 80px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    margin: 0;
}


.menu__link {
    padding-left: 40px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #22262A;
}

/*-------------------------------------------------------------*/

.article {
    width: 100%;
    height: 900px;
    background: url(../img/background/1.png);
    background-repeat: no-repeat; 
    background-size: cover;
}

.article__headlines {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-top: 530px;
}

.article__headlines h2 {
    width: 500px;
    font-size: 75px;
    line-height: 75px;
    font-weight: bold;
    color: #5e0b96;
}

.article__headlines p1 {
    width: 370px;
    height: 50px;
    font-size: 35px;
    line-height: 35px;
    color: #000000;
}
.article__headlines p {
    width: 370px;
    height: 50px;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
}
.article__buttons a { 
    padding: 10px 20px;
    background: #22262A;
    margin: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}




/*--------------------------------------------------------------------------*/

.section {
    padding-top: 123px;
}

.section__cotagory {
    display: flex;
    justify-content: space-between;
}

.section__img img{
    padding: 0px 21px 15px 0px;
}

.section__button {
    position: absolute;
    left: 1005px;
    top: 1615px;
    background: #FFFFFF;
    padding: 7px 40px;
    color: #fff;
}
    
.section__button a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #22262A;
}


/*------------------------------------------------------*/

.product-fashion {

}


.product-fashion {
    padding-top: 150px;
    line-height: 40px;
}

.product-fashion__title h4 {
    text-align: center;
}

.product-fashion__title p {
    padding-bottom: 65px;
    text-align: center;
}

.product-fashion__items {
    display: flex;
    justify-content: space-between ;
}
.showcase {
    margin: 1 0 auto;
}

.showcase p {
    width: 100%;
    height: 23px;
    font-size: 15px;
}

.showcase p span {
    padding-left: 40px;
}
/*----------------------------------------------------------------*/



.content-styles {
    padding-top: 60px ;
}

.content-styles__title {
    text-align: center;
}

.content-styles__images {
    display: flex;
    justify-content: space-between;
}

.content-styles__img {
    padding-top: 60px;
    padding-bottom: 121px;
}

.__img__pos {
    padding-top: 87px;
}

.__img__pos2 {
    padding-right: 50px;
}

.__img__background-white {
    position: absolute;
    width: 227px;
    height: 281px;
    left: 1245px;
    top: 3745px;
    background: #FFFFFF;
}

.__img__background{
    position: absolute;
    width: 227px;
    height: 281px;
    left: 1275px;
    top: 3770px;
}

.content-styles__button {
    position: absolute;
    left: 1070px;
    top: 4000px;
    font-size: 15px;
    text-align: right;
}

.content-style__strip {
    height: 1px;
    background: #22262A;
}

/*---------------------------------------------------------*/

.aside {
    width: 100%;
    height: 900px;
    background: url(../img/background/2.png);
    background-repeat: no-repeat; 
    background-size: cover;
}

.aside__headlines {
    display: flex;
    flex-direction: column;
    padding-top: 456px;
}

.aside__headlines p {
    width: 140px;
    height: 27px;
}

.aside__headlines h2 {
    width: 440px;
    height: 120px;
    font-size: 80px;
    line-height: 120px;
}

.aside__button {
    padding-top: 15px;
}

.aside__button a { 
    padding: 10px 20px;
    background: #22262A;
    margin: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

/*---------------------------------------------------------------------------*/


.footer {
    background: #F2F8FC;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.footer__column {
    padding-top: 115px;
}


.footer__column h3 {
    width: 310px;
    font-size: 25px;
}

.footer__form {
    position: relative;
}

.footer__form input {
    width: 532px;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding-left: 24px;
    font-size: 15px;
    color: #22262A;
}

.footer__form-button {
    position: absolute;
    width: 70px;
    height: 40px;
    right: 21px;
    top: 6px;
    border: none;
    font-weight: bold;
    background-color: #fff;
}

.footer__column p {
    width: 406px;
    font-size: 15px;
    padding-top: 20px;
}

.footer__strip {
    width: 237px;
    height: 0px;
    border: 1px solid #000000;
}

.footer__icons {
    display: flex;
}

.footer__icons img {
    padding-right: 17px;
}

.footer__honts {
    display: flex;
}

.footer__honts-column {
    display: flex;
    justify-content: space-between;
    width: 570px;
    padding-top: 81px;
}

.footer__honts-column li {
    list-style: none;
    padding-top: 21px;
}

.footer__honts-column li a {
    text-decoration: none;
    color:#22262A;
}

.footer__copyrigh {
    width: 100%;
    height: 60px;
    font-size: 15px;
    padding-top: 35px;
    text-align:center;
    background: #E7F5F8;
}